body {
  font-family: "Klee One", cursive;
}

h1 {
  color: aliceblue;
  font-weight: bold;
  font-size: 30px;
  text-align: right;
  padding: 5px 0;
  margin: 5px 5px 0 0;
}

p {
  text-align: right;
  color: aliceblue;
  margin: 0 0 10px 0;
  padding: 0 5px 10px;
  font-size: 18px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: aliceblue;
  font-size: 16px;
}
a {
  text-decoration: none;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 60px;
}

.weather-app {
  margin: 0;
  padding: 10px 15px 20px;
  display: block;
  max-width: 650px;
  border: 2px solid #739aeb;
  border-radius: 5px;
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
}

.current-low-high {
  text-align: center;
}

.current-temperature {
  text-align: center;
  color: aliceblue;
  font-size: 70px;
  margin-right: 5px;
  line-height: 1;
}

.current-humidity-wind {
  text-align: center;
}

.current-weather {
  color: aliceblue;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
}
.units {
  position: relative;
  top: -35px;
  font-size: 18px;
  font-weight: bold;
}

.weather-icon {
  position: relative;
  bottom: -25px;
  margin-left: -75px;
}

.current-temperature .active {
  color: aliceblue;
  cursor: default;
}
.current-temperature .active:hover {
  text-decoration: none;
}
.search-city {
  margin: 0 auto;
}
.form-control {
  width: 180px;
  margin: 5px 5px;
  padding: 5px 5px;
  float: left;
}
.btn-outline-primary {
  border: none;
  color: aliceblue;
  float: left;
  margin-top: 5px;
}
.btn-outline-primary:hover {
  color: #557ae3;
  background-color: aliceblue;
}

hr {
  color: rgb(95, 209, 249);
  opacity: 0.3;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: aliceblue;
  font-weight: bold;
}

.weather-forecast-date {
  font-weight: bold;
  font-size: 16px;
}

.weather-forecast-temperatures {
  font-size: 14px;
  font-weight: bolder;
  text-shadow: aliceblue;
}

.weather-forecast-temperature-low {
  opacity: 0.6;
}
